*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container input{
    padding: 1rem;
    border: 2px solid lightblue;
    outline: none;
    font-size: x-large;
}

.wrote{
    font-size: xx-large;
    margin-top: 1rem;
}